In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("ActualData/20250919pal.csv")

In [27]:
df

               Time Stamp Time Zone    Name   PTID       Load
0     09/19/2025 00:00:00       EDT  CAPITL  61757  1255.8394
1     09/19/2025 00:00:00       EDT  CENTRL  61754  1432.6079
2     09/19/2025 00:00:00       EDT  DUNWOD  61760   617.0068
3     09/19/2025 00:00:00       EDT  GENESE  61753  1019.8070
4     09/19/2025 00:00:00       EDT  HUD VL  61758   989.9001
...                   ...       ...     ...    ...        ...
3273  09/19/2025 23:55:00       EDT  MHK VL  61756   664.6045
3274  09/19/2025 23:55:00       EDT  MILLWD  61759   227.1166
3275  09/19/2025 23:55:00       EDT  N.Y.C.  61761  5534.1924
3276  09/19/2025 23:55:00       EDT   NORTH  61755   491.6335
3277  09/19/2025 23:55:00       EDT    WEST  61752  1408.9438

[3278 rows x 5 columns]

In [28]:
regions = df["Name"].unique()

In [29]:
timestamps = df["Time Stamp"]

In [30]:
df_total_load = pd.DataFrame()

In [31]:
df_total_load["Time"] = timestamps
df_total_load["Load"] = np.zeros(len(timestamps))

In [33]:
for time in timestamps:
    df_total_load[df_total_load["Time"] == time]["Load"] = np.sum(df[df["Time Stamp"] == time]["Load"])

C:\Users\sarah\AppData\Local\Temp\ipykernel_13548\2011114025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_load[df_total_load["Time"] == time]["Load"] = np.sum(df[df["Time Stamp"] == time]["Load"])

In [34]:
df_total_load

                     Time  Load
0     09/19/2025 00:00:00   0.0
1     09/19/2025 00:00:00   0.0
2     09/19/2025 00:00:00   0.0
3     09/19/2025 00:00:00   0.0
4     09/19/2025 00:00:00   0.0
...                   ...   ...
3273  09/19/2025 23:55:00   0.0
3274  09/19/2025 23:55:00   0.0
3275  09/19/2025 23:55:00   0.0
3276  09/19/2025 23:55:00   0.0
3277  09/19/2025 23:55:00   0.0

[3278 rows x 2 columns]

In [ ]:
for region in regions:

array(['CAPITL', 'CENTRL', 'DUNWOD', 'GENESE', 'HUD VL', 'LONGIL',
       'MHK VL', 'MILLWD', 'N.Y.C.', 'NORTH', 'WEST'], dtype=object)